<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quiz Categories</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<main>

    <h1>🐍 Python Quiz Hub</h1>

    <h2>Select Quiz Category</h2>

    <div class="dashboard-cards">

        <!-- Basic Python -->
        <div class="dashboard-card">
            <h2>🐍 Basic Python</h2>
            <p>Test your basic Python concepts.</p>
            <a href="/basic">
                <button type="button">Start Quiz</button>
            </a>
        </div>


        <!-- Variables -->
        <div class="dashboard-card">
            <h2>📦 Variables & Datatypes</h2>
            <p>Practice variables and data types.</p>
            <a href="/variable">
                <button type="button">Start Quiz</button>
            </a>
        </div>


        <!-- Functions -->
        <div class="dashboard-card">
            <h2>⚙️ Functions</h2>
            <p>Test your Python functions knowledge.</p>
            <a href="/function">
                <button type="button">Start Quiz</button>
            </a>
        </div>


        <!-- Exception Handling -->
        <div class="dashboard-card">
            <h2>⚠️ Exception Handling</h2>
            <p>Practice error and exception handling.</p>
            <a href="/exception">
                <button type="button">Start Quiz</button>
            </a>
        </div>


        <!-- File Handling -->
        <div class="dashboard-card">
            <h2>📁 File Handling</h2>
            <p>Test your file handling concepts.</p>
            <a href="/file">
                <button type="button">Start Quiz</button>
            </a>
        </div>


        <!-- Advanced Python -->
        <div class="dashboard-card">
            <h2>🚀 Advanced Python</h2>
            <p>Challenge yourself with advanced concepts.</p>
            <a href="/advance">
                <button type="button">Start Quiz</button>
            </a>
        </div>

    </div>

    <br>

    <a href="/dashboard">Back to Dashboard</a>

</main>

</body>
</html>
