<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Variable & Datatype Quiz</title>
     <link rel="stylesheet" href="/static/style.css">






</head>

<body>

<h1>📊 Variable & Datatype Quiz</h1>

<p><strong>📊 Difficulty:</strong> Easy</p>
<p><strong>❓ Questions:</strong> 10</p>
<p><strong>⏱ Time:</strong> 10 Minutes</p>

<hr>

<form action="/variable" method="post">

    <!-- Question 1 -->
    <h3>1. Which of the following is a valid Python variable name?</h3>

    <input type="radio" name="q1" value="A"> 1Student <br>
    <input type="radio" name="q1" value="B"> student-name <br>
    <input type="radio" name="q1" value="C"> student_name <br>
    <input type="radio" name="q1" value="D"> class <br>

    <hr>


    <!-- Question 2 -->
    <h3>2. What is the output?</h3>

    <pre>
age = 20
print(type(age))
    </pre>

    <input type="radio" name="q2" value="A"> &lt;class 'float'&gt; <br>
    <input type="radio" name="q2" value="B"> &lt;class 'str'&gt; <br>
    <input type="radio" name="q2" value="C"> &lt;class 'int'&gt; <br>
    <input type="radio" name="q2" value="D"> &lt;class 'bool'&gt; <br>

    <hr>


    <!-- Question 3 -->
    <h3>3. What will be the value of x?</h3>

    <pre>
x = int("25")
    </pre>

    <input type="radio" name="q3" value="A"> '25' <br>
    <input type="radio" name="q3" value="B"> 25 <br>
    <input type="radio" name="q3" value="C"> 25.0 <br>
    <input type="radio" name="q3" value="D"> Error <br>

    <hr>


    <!-- Question 4 -->
    <h3>4. Which function is used to convert a value into a string?</h3>

    <input type="radio" name="q4" value="A"> int() <br>
    <input type="radio" name="q4" value="B"> float() <br>
    <input type="radio" name="q4" value="C"> str() <br>
    <input type="radio" name="q4" value="D"> bool() <br>

    <hr>


    <!-- Question 5 -->
    <h3>5. Which function is used to check the data type of a variable?</h3>

    <input type="radio" name="q5" value="A"> data() <br>
    <input type="radio" name="q5" value="B"> check() <br>
    <input type="radio" name="q5" value="C"> type() <br>
    <input type="radio" name="q5" value="D"> typeof() <br>

    <hr>


    <!-- Question 6 -->
    <h3>6. What is the output?</h3>

    <pre>
name = "Ali"
print(name)
    </pre>

    <input type="radio" name="q6" value="A"> Ali <br>
    <input type="radio" name="q6" value="B"> "Ali" <br>
    <input type="radio" name="q6" value="C"> name <br>
    <input type="radio" name="q6" value="D"> Error <br>

    <hr>


    <!-- Question 7 -->
    <h3>7. What is the output?</h3>

    <pre>
x = 10
y = 5.5
print(type(y))
    </pre>

    <input type="radio" name="q7" value="A"> int <br>
    <input type="radio" name="q7" value="B"> str <br>
    <input type="radio" name="q7" value="C"> float <br>
    <input type="radio" name="q7" value="D"> bool <br>

    <hr>


    <!-- Question 8 -->
    <h3>8. Which statement correctly assigns two variables?</h3>

    <input type="radio" name="q8" value="A"> x = y = 10 <br>
    <input type="radio" name="q8" value="B"> 10 = x = y <br>
    <input type="radio" name="q8" value="C"> x := y := 10 <br>
    <input type="radio" name="q8" value="D"> x == y == 10 <br>

    <hr>


    <!-- Question 9 -->
    <h3>9. What is the output?</h3>

    <pre>
a = True
print(type(a))
    </pre>

    <input type="radio" name="q9" value="A"> &lt;class 'bool'&gt; <br>
    <input type="radio" name="q9" value="B"> &lt;class 'int'&gt; <br>
    <input type="radio" name="q9" value="C"> &lt;class 'str'&gt; <br>
    <input type="radio" name="q9" value="D"> Error <br>

    <hr>


    <!-- Question 10 -->
    <h3>10. What is the output?</h3>

    <pre>
num = "100"
print(int(num) + 50)
    </pre>

    <input type="radio" name="q10" value="A"> 10050 <br>
    <input type="radio" name="q10" value="B"> 150 <br>
    <input type="radio" name="q10" value="C"> "150" <br>
    <input type="radio" name="q10" value="D"> Error <br>

    <hr>


    <button type="submit">✅ Submit Quiz</button>

</form>

</body>
</html>
